{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}

    <div class="container container-top">
    <div class="jumbotron">
        <h1>Votre panier</h1>


    {% if items | length > 0 %}
<table class="table">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.product.nom }} </td>
        <td>{{ item.product.prix }} € {{ item.product.unite }}</td>
        <td>{{ item.quantity }} <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-primary btn-sm">
                <i class="fas fa-minus"></i>
            </a>
            <a href="{{ path('cart_add', {'id': item.product.id}) }}" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i>
            </a></td>
        <td>{{ item.quantity * item.product.prix }}</td>
        <td>
            <a href="{{ path('cart_unset', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
            </a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right"><b>Total : </b></td>
        <td>{{ total }} €</td>
        <td></td>
    </tr>
    </tfoot>
</table>
        <a href="#" class="btn btn-primary">Commander </a>
    {% else %}
        <p>Surprise, c'est vide !</p>
    {% endif %}
    </div>
    </div>

{% endblock %}
