{% extends 'base.html.twig' %}

{% block title %}Le potager de la devise{% endblock %}

{% block body %}

    <div class="container container-top">
            <h1>Liste des produits</h1>
    <div class="row">
        {% for produit in produits %}
        <div class="card border-primary" style="max-width: 18rem; ">
            <div class="card-header text-center">
            <b>   {{ produit.nom }} </b>
            </div>
            {% if produit.filename %}
                <img src="/images/products/{{ produit.filename }}" alt="image de {{ produit.nom }}" style="width: 286px;height: 218px " >
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{produit.prix}} €/kg</h5>

                <p class="card-text"></p>
                <a href="{{ path('cart_add',{'id':produit.id}) }}" class="btn btn-success float-right">
                    <i class="fas fa-shopping-cart mr-1"></i>
                    Ajouter
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
        <div class="navigation">
            {{ knp_pagination_render(produits) }}
        </div>
    </div>
{% endblock %}
